.collection {
  display: flex;
  flex-direction: row;
  gap: 2.5%;
  margin: 0% 11.1% 0% 11.1%;
}
.collection_main {
  position: relative;
  width: 50%;
}
.collection_main-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.6px;
}
.collection_link {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  border-bottom: solid 0.2px black;
  width: 6em;
}
.collection_sub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.collection_sub-item {
  position: relative;
}
.collection_sub-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Poppins;
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.6px;
  width: fit-content;
  height: fit-content;
  bottom: 12%;
  left: 6%;
}
