$secondary-color: #605f5f;

.shop-filter {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.04em;
}
.shop-filter_head {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 0.25em;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
.shop-filter_categories {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 15em;
}
.shop-filter_categories-scroller {
  display: flex;
  flex-direction: column;
  color: $secondary-color;
  gap: 1em;
  height: 13em;
  overflow-y: scroll;
  padding-right: 50%;
}
.shop-filter_price {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 15em;
}
.shop-filter_price-items {
  display: flex;
  flex-direction: column;
  color: $secondary-color;
  gap: 1em;
  height: 13em;
}
.shop-filter_prices-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shop-filter_prices-item-checkbox {
  appearance: none;
	background-color: white;
	border: 1.5px solid #6C7275;
  width: 1vw;
  height: 1vw;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.shop-filter_prices-item-checkbox:checked {
  background-color: #141718;
}
.shop-filter_prices-item-checkbox:checked:after {
	content: '\2714';
	color: white;
  position: absolute;
  font-size: 15px;
  top: 0vw;
  left: 0.15vw;
}